@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* Colors */
    --bg-color-main: hsl(212, 45%, 89%);
    --bg-color-card-main: hsl(0, 0%, 100%);
    --title-color: hsl(218, 44%, 22%);
    --main-text-color: hsl(220, 15%, 55%);

    /* Fonts */
    --fs-main-text: 15px;
    --ff-main: 'Outfit', sans-serif;
    --fs-400: 400;
    --fs-700: 700;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-main);
}

body {
    background-color: var(--bg-color-main);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--bg-color-card-main);
    border-radius: 12px;
    width: 400px;
    padding: 20px;
}

.qr_code_image {
    width: 100%;
    border-radius: 12px;
}

.title {
    padding: 1rem;
    font-size: 1.75rem;
}

.main-text {
    color: var(--main-text-color);
    padding: 0.5rem 1.5rem 1.5rem;
    font-size: 1.125rem;
}

